main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
  padding: 8px;
  background: #fff;
  color: #333;
}

dl {
  width: 100%;
  margin: 0;
}

dd {
  display: block;
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  padding: 8px;
}
